

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu:ital,wght@0,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Ubuntu', sans-serif;
  
}

header h1#titulo{
    background-color: #9b2226;
    color: #fff;
    text-align: center;
    padding: 1vw;
    
   
}

section#subtitulo{
    text-align: center;
    padding: .8vw;
    margin-top: 4vw;
    color: #9b2226;
}

section#personagem{
    display: flex;
    justify-content: center;
    padding: 4vw;
    
}

section#personagem div#texto-June{

    padding: 1.5vw 1vw 1vw 2vw;
    color: #9b2226;
}

img#img-June1{
    width: 100%;
    margin: 1.2vw;
    border-radius: 10%;
    color: white;
  
}

section#humores{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:  #9b2226;
    color: white;
    align-items: center;
    padding: 2vw;;
}

section#humores div#miniTexto{
    width: 100%;
    margin: 3vw;
    text-align: center;
    font-weight: 600;
       
}

section#humores div#tiposHumor{
    margin: 8vw;
    text-align: center;
    width: 20rem;
        
}

section#humores div#img img{
    width: 25rem;
    border-radius: 3rem;
    margin: 0 5vw 5vw 10vw;
    /* transform: scaleX(-1); */
}

section#humores div#tiposHumor button{
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: white;
    border: 2px solid #9b2221;
    border-radius: 1.5rem;
    transition: all .5s ease-out;
    cursor: pointer;
    color: #9b2226;
}



