

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu:ital,wght@0,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Ubuntu', sans-serif;
  
}

header h1#titulo{
    background-color: #9b2226;
    color: #fff;
    text-align: center;
    padding: 1vw;
    
   
}

section#subtitulo{
    text-align: center;
    padding: .8vw;
    margin-top: 4vw;
    color: #9b2226;
}

section#personagem{
    display: flex;
    justify-content: center;
    padding: 4vw;
    
}

section#personagem div#texto-June{

    padding: 1.5vw 1vw 1vw 2vw;
    color: #9b2226;
}

img#img-June1{
    width: 100%;
    margin: 1.2vw;
    border-radius: 10%;
    color: white;
  
}

section#humores{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:  #9b2226;
    color: white;
    align-items: center;
    padding: 2vw;;
}

section#humores div#miniTexto{
    width: 100%;
    margin: 3vw;
    text-align: center;
    font-weight: 400;
       
}

section#humores div#tiposHumor{
    margin: 8vw;
    text-align: center;
        
}

section#humores div#img img{
    width: 60%;
    border-radius: 3rem;
    margin: 0 5vw 5vw 10vw;
    /* transform: scaleX(-1); */
}

selection#humores div#tiposHumor button{
    padding: 5vw;

}

/*-------------------------------*/


section#infos div#txt{
    padding: 5rem;
    color: #fff;
    text-align: center;
}

section#infos div#txt h2{
    padding: 1rem;
    font-size: 5rem;
    font-weight: 400;
}

section#infos div#txt h3{
    padding: 2rem;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

section#infos div#txt button{
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: #6c8e29;
    border: 2px solid #6c8e29;
    border-radius: 2rem;
    transition: all .5s ease-out;
    cursor: pointer;
}

section#infos div#txt button:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 1px #ffffff50;
}

section#infos div#img{
    display: flex;
    justify-content: center;
}

section#infos div#img img{
    width: 60%;
    border-radius: 3rem;
    transform: scaleX(-1);
}